.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list li {
  padding: 0.5rem;
  background-color: #f0f0f0;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.list li:hover {
  background-color: #e0e0e0;
}

.detail {
  display: none;
  padding: 1rem;
  background: #efefef;
  border-radius: 0.5rem;
}

.detail.open {
  display: block;
}
